html-folder: note-files
index-file: notes.html
html-head-file: head.html
html-header-file: header.html
html-footer-file: footer.html
note-item-file: item.html
note-category-file: category.html
head-enabled: True
head-start: <head>
head-end: </head>
header-enabled: True
header-start: <body>
footer-enabled: True
footer-start: </body>