html-folder: <foldername>
index-file: <list-file-name.html>
html-head-file: <template-for-head.html>
html-header-file: <template-for-header.html>
html-footer-file: <template-for-footer.html>
note-item-file: <template-for-item.html>
note-category-file: <template-for-category.html>
head-enabled: <True|False>
head-start: <tag>
head-end: </tag>
header-enabled: <True|False>
header-start: <tag>
header-end: </tag>
footer-enabled: <True|False>
footer-start: <tag>
footer-end: </tag>